<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>システムエラー</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>システムエラー</h1>

    <div class="shift-card">

        <p id="error-message">
            申し訳ありません。
        </p>

        <p>
            システムエラーが発生しました。
        </p>

        <p>
            時間をおいてから再度お試しください。
        </p>

    </div>

    <br>

    <a
        href="/"
        class="menu-link"
    >
        トップページへ戻る
    </a>

</div>

</body>

</html>