<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>管理者ページ</title>
</head>
<body>

    <h1>全従業員のシフト希望</h1>
    <form method="GET" action="/admin">

        <label>日付で絞り込み</label>

        <input
            type="date"
            name="date"
            value="{{ selected_date }}"
        >

        <button type="submit">
            検索
        </button>

    <form method="GET" action="/admin">

    <label>日付で絞り込み</label>

    <input
        type="date"
        name="date"
        value="{{ selected_date }}"
    >

    <button type="submit">
        検索
    </button>

</form>

<hr></form>

<hr>

    <p>
    <a href="/confirmed_shifts">確定シフト一覧を見る</a>
</p>

<p>
    <a href="/">トップページに戻る</a>
</p>

    {% for shift in shifts %}

        <p>
            ユーザー名：{{ shift.username }}
        </p>

        <p>
            日付：{{ shift.date }}
        </p>

        <p>
            時間：{{ shift.time }} ～ {{ shift.end_time }}
        </p>

        <p>
            <a href="/confirm_shift/{{ shift.id }}">このシフトを確定する</a>
        </p>

        <hr>

    {% endfor %}

</body>
</html>