<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>

<h1>ログイン</h1>
{% if error %}
    <p>{{ error }}</p>
{% endif %}

<form action="/login" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <label>ユーザー名</label>
    <input type="text" name="username">

    <br><br>

    <label>パスワード</label>
    <input type="password" name="password">

    <br><br>

    <button type="submit">ログイン</button>

</form>

</body>
</html>