<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>ユーザー登録</h1>

    {% if error %}
        <p id="error-message">
            {{ error }}
        </p>
    {% endif %}

    <form action="/register" method="POST">

        <input type="hidden"
               name="csrf_token"
               value="{{ csrf_token() }}">

        <div class="form-group">
            <label>ユーザー名</label>

            <input
                type="text"
                name="username"
                required
            >
        </div>

        <div class="form-group">
            <label>パスワード</label>

            <input
                type="password"
                name="password"
                required
            >
        </div>

        <button type="submit">
            登録
        </button>

    </form>

    <br>

    <a href="/admin" class="menu-link">
        管理者ページへ戻る
    </a>

</div>

</body>

</html>