<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>従業員一覧</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>従業員一覧</h1>

    <table>

        <tr>
            <th>ID</th>
            <th>ユーザー名</th>
            <th>権限</th>
            <th>操作</th>
        </tr>

        {% for user in users %}

        <tr>

            <td>{{ user.id }}</td>

            <td>{{ user.username }}</td>

            <td>{{ user.role }}</td>

            <td>

                {% if user.role != "admin" %}

                    <a
                        class="menu-link"
                        href="/delete_user_confirm/{{ user.id }}"
                    >
                        削除
                    </a>

                {% else %}

                    ―

                {% endif %}

            </td>

        </tr>

        {% endfor %}

    </table>

    <br>

    <a class="menu-link" href="/admin">
        管理者ページへ戻る
    </a>

</div>

</body>
</html>